# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Custom Ignores #
##################
config/*
!server/node_modules
server/node_modules/*
!server/node_modules/jsmediatags
client/node_modules
client/node_modules/*
client/src/jspm_packages
client/src/jspm_packages/*
server/keys
server/keys/*
server/db_music.json
server/db_playlists.json
server/db_config.json
