<template>
	<require from="../../elements/aside"></require>
	<require from="../../attributes/toggle-me"></require>
	<require from="../files/partials/files-panel"></require>
	<require from="./partials/music-player"></require>
	<aside toggle-me.two-way="session.visibility.aside" aside_links.two-way="aside_links"></aside>
	<div class="container host_container">
		<div class="row">
			<div class="col-md-4 mplayer-fix">
				<music-player></music-player>
			</div>
			<div class="col-md-8" style="padding-right: 20px;">
				<files-panel base_dir.bind="dir" current_path="/music" display_path="Music Files"></files-panel>
			</div>
		</div>
	</div>
</template>
